## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
MyList = s.split()

In [ ]:
print(MyList)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12472

In [ ]:
My_String = "The diameter of {} is {} kilometers."
print(My_String.format(planet, diameter))

The diameter of Earth is 12472 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Lists consume more memory while	Tuple consumes less memory as compared to the list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def Domain_Return(Email):
  return Email.split('@')[-1]

In [ ]:
Domain_Return("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def Find_Dog(Str):
  return 'dog' in Str.lower().split()

In [ ]:
Find_Dog('I have a pet dog named Tommy')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def Count_Dog(Str):
  count = 0
  List = Str.lower().split()
  for word in List:
    if word == 'dog':
      count += 1
  return count

In [ ]:
Count_Dog('My dog and my friend\'s dog are siblings')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(82, False)

'Big Ticket'

In [ ]:
caught_speeding(82, True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [1]:
Emp_Name = ["Raj", "Selene", "Mustafa", "Gokul", "Chris"]
print(Emp_Name)
Salary_List = [25000, 40000, 30000, 20000, 35000]
print(Salary_List)
total_sal = 0
for sal in Salary_List:
  total_sal += sal
print(total_sal)

['Raj', 'Selene', 'Mustafa', 'Gokul', 'Chris']
[25000, 40000, 30000, 20000, 35000]
150000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
Emp_Details = {"Empid":1032, "Empname":"Aqib", "Basicpay":45000}
Dept_Details = {"DeptName":"Data Analyst", "DeptId": 42}
Employee = {**Emp_Details, **Dept_Details}
print(Employee)

{'Empid': 1032, 'Empname': 'Aqib', 'Basicpay': 45000, 'DeptName': 'Data Analyst', 'DeptId': 42}